<%= render partial: "form" %>
<!-- Do we default values somehow? Unsure. Can't test until I get this to load. -->
<%#= form_with model: @task, class: "task_form" do |f| %>
  <!-- <p>Please update the task:</p> -->
  <%#= f.label :name %>
  <%#= f.text_field :name, class: "form_field" %>

  <%#= f.label :description %>
  <%#= f.text_field :description, class: "form_field" %>

  <%#= f.label :completion_date %>
  <%#= f.text_field :completion_date, class: "form_field"%>

  <%#= f.submit "Edit Task", class: "task-button"%>

<%# end %>
